@font-face {
		font-family: "Lato";
		src: url("../fonts/LatoRegular/LatoRegular.eot");
		src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
		url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "Lato";
		src: url("../fonts/LatoBold/LatoBold.eot");
		src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/LatoBold/LatoBold.woff") format("woff"),
		url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 700;
}

@font-face {
		font-family: "Lato";
		src: url("../fonts/LatoItalic/LatoItalic.eot");
		src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
		url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: normal;
}
